<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>詳細</title>
</head>
<body>
      <h1>会員詳細</h1>
    
    <form id="detailpage" method="post" th:action="@{/detail}" class="form-signup" th:object="${DetailForm}">
      <input type="hidden" th:field="*{id}" />
    
           ID
            <td th:text="*{id}"></td>
        
            会員名
              <input type="text" class="form" th:field="*{name}"/>
       
        <button type="submit" name="delete">
          削除
        </button>
      
        <button type="submit" name="update">
          更新
        </button>
      
    </form> 
</body>
</html>
