<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"></meta>
  <title>user</title>
</head>
 <body>
  <form id="userform" method="post" action="/user" class="formuser" th:object="${userForm}">
    <h3>新規登録</h3>
    <!-- ID -->
      <label for="id">ID</label>
      <input type="text" class="form" th:field="*{id}" th:errorclass="error"/>
   <div class="invalid" th:errors="*{id}"></div>
    <!-- パスワード -->
      <label for="password">Password</label>
      <input type="password" class="form" th:field="*{password}" th:errorclass="error"/>
      <div class="invalid" th:errors="*{password}"></div>
    <!-- 会員名 -->
      <label for="name">Name</label>
      <input type="text" class="form" th:field="*{name}" th:errorclass="error"/>
   <div class="invalid" th:errors="*{name}"></div>
    <input type="submit" value="Register"/>
  </form>
</body>
</html>
